body{
    background-color: floralwhite;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

/* Title */
.header{
    display: flex;
    justify-content: space-around;
}

.list-container{
    display: flex;
    justify-content: center;
    gap: 250px;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list ul li{
    background-color: #d7dcc8;
    border-radius: 20px;
    margin: 10px;
    display: block;
    padding: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    
}

.list ul li:hover{
    background-color: #A9B388;
}

.list ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    
}


.list ul li a::before {
    content: "✨ ";
}